<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>cyrlDFLT</key>
  <array>
    <string>uni0414</string>
    <string>uni0416</string>
    <string>uni041A</string>
    <string>uni041B</string>
    <string>uni0424</string>
    <string>uni0432</string>
    <string>uni0433</string>
    <string>uni0434</string>
    <string>uni0436</string>
    <string>uni0437</string>
    <string>uni0438</string>
    <string>uni0439</string>
    <string>uni043A</string>
    <string>uni043B</string>
    <string>uni043D</string>
    <string>uni043F</string>
    <string>uni0442</string>
    <string>uni0444</string>
    <string>uni0446</string>
    <string>uni0447</string>
    <string>uni0448</string>
    <string>uni0449</string>
    <string>uni044A</string>
    <string>uni044B</string>
    <string>uni044C</string>
    <string>uni044E</string>
    <string>uni0453</string>
    <string>uni045D</string>
    <string>uni2DE1</string>
    <string>uni2DE2</string>
    <string>uni2DE3</string>
    <string>uni2DE4</string>
    <string>uni2DE5</string>
    <string>uni2DE6</string>
    <string>uni2DE7</string>
    <string>uni2DE9</string>
    <string>uni2DEB</string>
    <string>uni2DEE</string>
    <string>uni2DF0</string>
    <string>uni2DF1</string>
    <string>uni2DF2</string>
    <string>uni2DF3</string>
    <string>uni2DF5</string>
    <string>uni2DFB</string>
  </array>
  <key>dnom</key>
  <array>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
  </array>
  <key>dnom_numr_sinf_subs_sups_frac</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>fitted</key>
  <array>
    <string>zero.fitted</string>
    <string>one.fitted</string>
    <string>two.fitted</string>
    <string>three.fitted</string>
    <string>four.fitted</string>
    <string>five.fitted</string>
    <string>six.fitted</string>
    <string>seven.fitted</string>
    <string>eight.fitted</string>
    <string>nine.fitted</string>
  </array>
  <key>letter_sups</key>
  <array>
    <string>A</string>
    <string>AE</string>
    <string>B</string>
    <string>D</string>
    <string>E</string>
    <string>G</string>
    <string>H</string>
    <string>Hbar</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>R</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>a</string>
    <string>b</string>
    <string>beta</string>
    <string>c</string>
    <string>chi</string>
    <string>d</string>
    <string>delta</string>
    <string>e</string>
    <string>eng</string>
    <string>equal</string>
    <string>eth</string>
    <string>f</string>
    <string>g</string>
    <string>gamma</string>
    <string>h</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>minus</string>
    <string>n</string>
    <string>o</string>
    <string>oe</string>
    <string>p</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>phi</string>
    <string>plus</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>theta</string>
    <string>u</string>
    <string>uni018E</string>
    <string>uni01AB</string>
    <string>uni0222</string>
    <string>uni0250</string>
    <string>uni0251</string>
    <string>uni0252</string>
    <string>uni0254</string>
    <string>uni0255</string>
    <string>uni0259</string>
    <string>uni025B</string>
    <string>uni025C</string>
    <string>uni025F</string>
    <string>uni0261</string>
    <string>uni0263</string>
    <string>uni0265</string>
    <string>uni0266</string>
    <string>uni0268</string>
    <string>uni0269</string>
    <string>uni026A</string>
    <string>uni026D</string>
    <string>uni026F</string>
    <string>uni0270</string>
    <string>uni0271</string>
    <string>uni0272</string>
    <string>uni0273</string>
    <string>uni0274</string>
    <string>uni0275</string>
    <string>uni0278</string>
    <string>uni0279</string>
    <string>uni027B</string>
    <string>uni0281</string>
    <string>uni0282</string>
    <string>uni0283</string>
    <string>uni0289</string>
    <string>uni028A</string>
    <string>uni028B</string>
    <string>uni028C</string>
    <string>uni0290</string>
    <string>uni0291</string>
    <string>uni0292</string>
    <string>uni0295</string>
    <string>uni029D</string>
    <string>uni029F</string>
    <string>uni043D</string>
    <string>uni044A</string>
    <string>uni044C</string>
    <string>uni1D02</string>
    <string>uni1D16</string>
    <string>uni1D17</string>
    <string>uni1D1C</string>
    <string>uni1D1D</string>
    <string>uni1D25</string>
    <string>uni1D7B</string>
    <string>uni1D85</string>
    <string>uniA76F</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
  </array>
  <key>letter_sups2</key>
  <array>
    <string>uni1D2C</string>
    <string>uni1D2D</string>
    <string>uni1D2E</string>
    <string>uni1D30</string>
    <string>uni1D31</string>
    <string>uni1D33</string>
    <string>uni1D34</string>
    <string>uniA7F8</string>
    <string>uni1D35</string>
    <string>uni1D36</string>
    <string>uni1D37</string>
    <string>uni1D38</string>
    <string>uni1D39</string>
    <string>uni1D3A</string>
    <string>uni1D3C</string>
    <string>uni1D3E</string>
    <string>uni1D3F</string>
    <string>uni1D40</string>
    <string>uni1D41</string>
    <string>uni2C7D</string>
    <string>uni1D42</string>
    <string>uni1D43</string>
    <string>uni1D47</string>
    <string>uni1D5D</string>
    <string>uni1D9C</string>
    <string>uni1D61</string>
    <string>uni1D48</string>
    <string>uni1D5F</string>
    <string>uni1D49</string>
    <string>uni1D51</string>
    <string>uni207C</string>
    <string>uni1D9E</string>
    <string>uni1DA0</string>
    <string>uni1D4D</string>
    <string>uni1D5E</string>
    <string>uni02B0</string>
    <string>uni02B2</string>
    <string>uni1D4F</string>
    <string>uni02E1</string>
    <string>uni1D50</string>
    <string>uni207B</string>
    <string>uni207F</string>
    <string>uni1D52</string>
    <string>uniA7F9</string>
    <string>uni1D56</string>
    <string>uni207D</string>
    <string>uni207E</string>
    <string>uni1D60</string>
    <string>uni207A</string>
    <string>uni02B3</string>
    <string>uni02E2</string>
    <string>uni1D57</string>
    <string>uni1DBF</string>
    <string>uni1D58</string>
    <string>uni1D32</string>
    <string>uni1DB5</string>
    <string>uni1D3D</string>
    <string>uni1D44</string>
    <string>uni1D45</string>
    <string>uni1D9B</string>
    <string>uni1D53</string>
    <string>uni1D9D</string>
    <string>uni1D4A</string>
    <string>uni1D4B</string>
    <string>uni1D9F</string>
    <string>uni1DA1</string>
    <string>uni1DA2</string>
    <string>uni02E0</string>
    <string>uni1DA3</string>
    <string>uni02B1</string>
    <string>uni1DA4</string>
    <string>uni1DA5</string>
    <string>uni1DA6</string>
    <string>uni1DA9</string>
    <string>uni1D5A</string>
    <string>uni1DAD</string>
    <string>uni1DAC</string>
    <string>uni1DAE</string>
    <string>uni1DAF</string>
    <string>uni1DB0</string>
    <string>uni1DB1</string>
    <string>uni1DB2</string>
    <string>uni02B4</string>
    <string>uni02B5</string>
    <string>uni02B6</string>
    <string>uni1DB3</string>
    <string>uni1DB4</string>
    <string>uni1DB6</string>
    <string>uni1DB7</string>
    <string>uni1DB9</string>
    <string>uni1DBA</string>
    <string>uni1DBC</string>
    <string>uni1DBD</string>
    <string>uni1DBE</string>
    <string>uni02E4</string>
    <string>uni1DA8</string>
    <string>uni1DAB</string>
    <string>uni1D78</string>
    <string>uniA69C</string>
    <string>uniA69D</string>
    <string>uni1D46</string>
    <string>uni1D54</string>
    <string>uni1D55</string>
    <string>uni1DB8</string>
    <string>uni1D59</string>
    <string>uni1D5C</string>
    <string>uni1DA7</string>
    <string>uni1DAA</string>
    <string>uniA770</string>
    <string>uni1D5B</string>
    <string>uni02B7</string>
    <string>uni02E3</string>
    <string>uni02B8</string>
    <string>uni1DBB</string>
  </array>
  <key>loclBGR</key>
  <array>
    <string>uni0414.loclBGR</string>
    <string>uni0416.loclBGR</string>
    <string>uni041A.loclBGR</string>
    <string>uni041B.loclBGR</string>
    <string>uni0424.loclBGR</string>
    <string>uni0432.loclBGR</string>
    <string>uni0433.loclBGR</string>
    <string>uni0434.loclBGR</string>
    <string>uni0436.loclBGR</string>
    <string>uni0437.loclBGR</string>
    <string>uni0438.loclBGR</string>
    <string>uni0439.loclBGR</string>
    <string>uni043A.loclBGR</string>
    <string>uni043B.loclBGR</string>
    <string>uni043D.loclBGR</string>
    <string>uni043F.loclBGR</string>
    <string>uni0442.loclBGR</string>
    <string>uni0444.loclBGR</string>
    <string>uni0446.loclBGR</string>
    <string>uni0447.loclBGR</string>
    <string>uni0448.loclBGR</string>
    <string>uni0449.loclBGR</string>
    <string>uni044A.loclBGR</string>
    <string>uni044B.loclBGR</string>
    <string>uni044C.loclBGR</string>
    <string>uni044E.loclBGR</string>
    <string>uni0453.loclBGR</string>
    <string>uni045D.loclBGR</string>
    <string>uni2DE1.loclBGR</string>
    <string>uni2DE2.loclBGR</string>
    <string>uni2DE3.loclBGR</string>
    <string>uni2DE4.loclBGR</string>
    <string>uni2DE5.loclBGR</string>
    <string>uni2DE6.loclBGR</string>
    <string>uni2DE7.loclBGR</string>
    <string>uni2DE9.loclBGR</string>
    <string>uni2DEB.loclBGR</string>
    <string>uni2DEE.loclBGR</string>
    <string>uni2DF0.loclBGR</string>
    <string>uni2DF1.loclBGR</string>
    <string>uni2DF2.loclBGR</string>
    <string>uni2DF3.loclBGR</string>
    <string>uni2DF5.loclBGR</string>
    <string>uni2DFB.loclBGR</string>
  </array>
  <key>numr</key>
  <array>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
  </array>
  <key>osf</key>
  <array>
    <string>zero.osf</string>
    <string>one.osf</string>
    <string>two.osf</string>
    <string>three.osf</string>
    <string>four.osf</string>
    <string>five.osf</string>
    <string>six.osf</string>
    <string>seven.osf</string>
    <string>eight.osf</string>
    <string>nine.osf</string>
  </array>
  <key>public.kern1.uni0402_</key>
  <array>
    <string>uni0402</string>
    <string>uni0409</string>
    <string>uni040A</string>
    <string>uni042A</string>
    <string>uni042A0300</string>
    <string>uni042A0301</string>
    <string>uni042C</string>
    <string>uni0462</string>
    <string>uni048C</string>
    <string>uniA64E</string>
  </array>
  <key>public.kern1.uni0404_</key>
  <array>
    <string>uni0404</string>
    <string>uni0421</string>
    <string>uni0464</string>
    <string>uni04AA</string>
  </array>
  <key>public.kern1.uni0410_</key>
  <array>
    <string>uni0410</string>
    <string>uni04100300</string>
    <string>uni041B.loclBGR</string>
    <string>uni0466</string>
    <string>uni0468</string>
    <string>uni04D0</string>
    <string>uni04D2</string>
    <string>uniA656</string>
    <string>uniA658</string>
    <string>uniA65C</string>
  </array>
  <key>public.kern1.uni0412_</key>
  <array>
    <string>uni0411</string>
    <string>uni0412</string>
    <string>uni0417</string>
  </array>
  <key>public.kern1.uni0413_</key>
  <array>
    <string>uni0403</string>
    <string>uni0413</string>
    <string>uni0490</string>
    <string>uni0492</string>
    <string>uni04F6</string>
    <string>uni04FA</string>
  </array>
  <key>public.kern1.uni0414.loclBGR_</key>
  <array>
    <string>uni0414.loclBGR</string>
  </array>
  <key>public.kern1.uni0414_</key>
  <array>
    <string>uni0414</string>
    <string>uni0426</string>
    <string>uni0429</string>
    <string>uni04B4</string>
    <string>uni052C</string>
    <string>uni052E</string>
    <string>uniA680</string>
    <string>uniA688</string>
    <string>uniA68E</string>
    <string>uniA696</string>
  </array>
  <key>public.kern1.uni0415_</key>
  <array>
    <string>uni0401</string>
    <string>uni0415</string>
  </array>
  <key>public.kern1.uni041A_</key>
  <array>
    <string>uni040C</string>
    <string>uni0416</string>
    <string>uni041A</string>
    <string>uni0496</string>
    <string>uni049A</string>
    <string>uni049C</string>
    <string>uni049E</string>
    <string>uni04A0</string>
    <string>uni04C1</string>
    <string>uni04C3</string>
    <string>uni04DC</string>
    <string>uni051E</string>
    <string>uni052A</string>
    <string>uniA684</string>
  </array>
  <key>public.kern1.uni041E_</key>
  <array>
    <string>uni041E</string>
    <string>uni041E0300</string>
    <string>uni041E0301</string>
    <string>uni042D</string>
    <string>uni042D0300</string>
    <string>uni042D0301</string>
    <string>uni042E</string>
    <string>uni0472</string>
    <string>uni04D8</string>
    <string>uni04DA</string>
    <string>uni04E6</string>
    <string>uni04E8</string>
    <string>uni04EA</string>
    <string>uni051A</string>
  </array>
  <key>public.kern1.uni0420_</key>
  <array>
    <string>uni0420</string>
    <string>uni048E</string>
  </array>
  <key>public.kern1.uni0422_</key>
  <array>
    <string>uni0422</string>
    <string>uni04AC</string>
    <string>uni050E</string>
    <string>uniA690</string>
  </array>
  <key>public.kern1.uni0423_</key>
  <array>
    <string>uni040E</string>
    <string>uni0423</string>
    <string>uni04230300</string>
    <string>uni04230301</string>
    <string>uni04EE</string>
    <string>uni04F0</string>
    <string>uni04F2</string>
  </array>
  <key>public.kern1.uni0425_</key>
  <array>
    <string>uni0416.loclBGR</string>
    <string>uni041A.loclBGR</string>
    <string>uni0425</string>
    <string>uni04B2</string>
    <string>uni04FC</string>
    <string>uni04FE</string>
    <string>uni0514</string>
    <string>uni0516</string>
  </array>
  <key>public.kern1.uni0433_</key>
  <array>
    <string>uni0433</string>
    <string>uni0453</string>
    <string>uni0491</string>
    <string>uni0493</string>
    <string>uni04F7</string>
    <string>uni04FB</string>
  </array>
  <key>public.kern1.uni043A_</key>
  <array>
    <string>uni043A</string>
    <string>uni045C</string>
    <string>uni049B</string>
    <string>uni049D</string>
    <string>uni049F</string>
    <string>uni04A1</string>
    <string>uni04C4</string>
    <string>uni051F</string>
    <string>uni052B</string>
    <string>uniA685</string>
  </array>
  <key>public.kern1.uni043E_</key>
  <array>
    <string>uni043E</string>
    <string>uni0473</string>
    <string>uni04E7</string>
    <string>uni04E9</string>
    <string>uni04EB</string>
  </array>
  <key>public.kern1.uni044A_</key>
  <array>
    <string>uni044A</string>
    <string>uni044A0300</string>
    <string>uni044A0301</string>
    <string>uni044C</string>
    <string>uni0459</string>
    <string>uni045A</string>
    <string>uni0463</string>
    <string>uni048D</string>
    <string>uniA64F</string>
  </array>
  <key>public.kern2._uni0410</key>
  <array>
    <string>uni0410</string>
    <string>uni04100300</string>
    <string>uni041B.loclBGR</string>
    <string>uni0466</string>
    <string>uni04D0</string>
    <string>uni04D2</string>
    <string>uniA658</string>
  </array>
  <key>public.kern2._uni0414</key>
  <array>
    <string>uni0414</string>
    <string>uni052A</string>
    <string>uniA662</string>
    <string>uniA680</string>
    <string>uniA688</string>
  </array>
  <key>public.kern2._uni0414.loclBGR</key>
  <array>
    <string>uni0414.loclBGR</string>
  </array>
  <key>public.kern2._uni0416</key>
  <array>
    <string>uni0416</string>
    <string>uni0496</string>
    <string>uni04C1</string>
    <string>uni04DC</string>
  </array>
  <key>public.kern2._uni0417</key>
  <array>
    <string>uni0417</string>
    <string>uni042D</string>
    <string>uni0498</string>
    <string>uni04DE</string>
    <string>uni04EC</string>
    <string>uniA684</string>
  </array>
  <key>public.kern2._uni041B</key>
  <array>
    <string>uni0409</string>
    <string>uni041B</string>
    <string>uni04C5</string>
    <string>uni0508</string>
    <string>uni0512</string>
    <string>uni0514</string>
    <string>uni0520</string>
    <string>uni052E</string>
    <string>uniA664</string>
  </array>
  <key>public.kern2._uni041D</key>
  <array>
    <string>uni0400</string>
    <string>uni0401</string>
    <string>uni0403</string>
    <string>uni0406</string>
    <string>uni0407</string>
    <string>uni040A</string>
    <string>uni040C</string>
    <string>uni040D</string>
    <string>uni040F</string>
    <string>uni0411</string>
    <string>uni0412</string>
    <string>uni0413</string>
    <string>uni0415</string>
    <string>uni0418</string>
    <string>uni0419</string>
    <string>uni041A</string>
    <string>uni041C</string>
    <string>uni041D</string>
    <string>uni041F</string>
    <string>uni0420</string>
    <string>uni0426</string>
    <string>uni0428</string>
    <string>uni0429</string>
    <string>uni042B</string>
    <string>uni042C</string>
    <string>uni042E</string>
    <string>uni0464</string>
    <string>uni0468</string>
    <string>uni046C</string>
    <string>uni048A</string>
    <string>uni048E</string>
    <string>uni0490</string>
    <string>uni0492</string>
    <string>uni0494</string>
    <string>uni049A</string>
    <string>uni049C</string>
    <string>uni049E</string>
    <string>uni04A2</string>
    <string>uni04A4</string>
    <string>uni04A6</string>
    <string>uni04C0</string>
    <string>uni04C7</string>
    <string>uni04C9</string>
    <string>uni04CD</string>
    <string>uni04CF</string>
    <string>uni04D6</string>
    <string>uni04E2</string>
    <string>uni04E4</string>
    <string>uni04F6</string>
    <string>uni04F8</string>
    <string>uni04FA</string>
    <string>uni050A</string>
    <string>uni051E</string>
    <string>uni0522</string>
    <string>uni0524</string>
    <string>uni0526</string>
    <string>uni0528</string>
    <string>uniA652</string>
    <string>uniA656</string>
    <string>uniA65C</string>
    <string>uniA666</string>
    <string>uniA68E</string>
    <string>uniA696</string>
  </array>
  <key>public.kern2._uni041E</key>
  <array>
    <string>uni041E</string>
    <string>uni041E0300</string>
    <string>uni041E0301</string>
    <string>uni0421</string>
    <string>uni0472</string>
    <string>uni0478</string>
    <string>uni04AA</string>
    <string>uni04E6</string>
    <string>uni04E8</string>
    <string>uni04EA</string>
    <string>uni050C</string>
    <string>uni051A</string>
    <string>uniA654</string>
    <string>uniA668</string>
    <string>uniA66A</string>
    <string>uniA66C</string>
    <string>uniA698</string>
    <string>uniA69A</string>
  </array>
  <key>public.kern2._uni0422</key>
  <array>
    <string>uni0422</string>
    <string>uni04AC</string>
    <string>uni050E</string>
    <string>uniA690</string>
  </array>
  <key>public.kern2._uni0423</key>
  <array>
    <string>uni040E</string>
    <string>uni0423</string>
    <string>uni04230300</string>
    <string>uni04230301</string>
    <string>uni04EE</string>
    <string>uni04F0</string>
    <string>uni04F2</string>
  </array>
  <key>public.kern2._uni0425</key>
  <array>
    <string>uni0425</string>
    <string>uni04B2</string>
  </array>
  <key>public.kern2._uni0427</key>
  <array>
    <string>uni0427</string>
    <string>uni04B6</string>
    <string>uni04B8</string>
    <string>uni04CB</string>
    <string>uni04F4</string>
    <string>uni052C</string>
  </array>
  <key>public.kern2._uni042A</key>
  <array>
    <string>uni042A</string>
    <string>uni042A0300</string>
    <string>uni042A0301</string>
    <string>uni0462</string>
    <string>uni04A0</string>
    <string>uni04B4</string>
    <string>uniA650</string>
    <string>uniA68A</string>
    <string>uniA68C</string>
    <string>uniA692</string>
  </array>
  <key>public.kern2._uni042F</key>
  <array>
    <string>uni042F</string>
    <string>uni042F0300</string>
    <string>uni042F0301</string>
    <string>uni0518</string>
  </array>
  <key>public.kern2._uni0434</key>
  <array>
    <string>uni0434</string>
    <string>uni052B</string>
    <string>uniA663</string>
    <string>uniA681</string>
    <string>uniA689</string>
  </array>
  <key>public.kern2._uni043B</key>
  <array>
    <string>uni043B</string>
    <string>uni0459</string>
    <string>uni04C6</string>
    <string>uni0509</string>
    <string>uni0513</string>
    <string>uni0515</string>
    <string>uni0521</string>
    <string>uni052F</string>
    <string>uniA665</string>
  </array>
  <key>public.kern2._uni043E</key>
  <array>
    <string>uni0435</string>
    <string>uni043E</string>
    <string>uni0441</string>
    <string>uni0444</string>
    <string>uni0450</string>
    <string>uni0451</string>
    <string>uni0454</string>
    <string>uni0473</string>
    <string>uni0479</string>
    <string>uni04AB</string>
    <string>uni04D7</string>
    <string>uni04E7</string>
    <string>uni04E9</string>
    <string>uni04EB</string>
    <string>uni050D</string>
    <string>uni051B</string>
    <string>uni1C83</string>
    <string>uniA655</string>
  </array>
  <key>public.kern2._uni0442</key>
  <array>
    <string>uni0442</string>
    <string>uni044A</string>
    <string>uni044A0300</string>
    <string>uni044A0301</string>
    <string>uni0463</string>
    <string>uni04A1</string>
    <string>uni04AD</string>
    <string>uni04B5</string>
    <string>uni050F</string>
    <string>uniA68B</string>
    <string>uniA691</string>
    <string>uniA693</string>
  </array>
  <key>public.kern2._uni0443</key>
  <array>
    <string>uni0443</string>
    <string>uni04430300</string>
    <string>uni04430301</string>
    <string>uni045E</string>
    <string>uni04EF</string>
    <string>uni04F1</string>
    <string>uni04F3</string>
  </array>
  <key>sinf</key>
  <array>
    <string>uni2080</string>
    <string>uni2081</string>
    <string>uni2082</string>
    <string>uni2083</string>
    <string>uni2084</string>
    <string>uni2085</string>
    <string>uni2086</string>
    <string>uni2087</string>
    <string>uni2088</string>
    <string>uni2089</string>
  </array>
  <key>subs</key>
  <array>
    <string>zero.subs</string>
    <string>one.subs</string>
    <string>two.subs</string>
    <string>three.subs</string>
    <string>four.subs</string>
    <string>five.subs</string>
    <string>six.subs</string>
    <string>seven.subs</string>
    <string>eight.subs</string>
    <string>nine.subs</string>
  </array>
  <key>sups</key>
  <array>
    <string>uni2070</string>
    <string>uni00B9</string>
    <string>uni00B2</string>
    <string>uni00B3</string>
    <string>uni2074</string>
    <string>uni2075</string>
    <string>uni2076</string>
    <string>uni2077</string>
    <string>uni2078</string>
    <string>uni2079</string>
  </array>
  <key>tosf</key>
  <array>
    <string>zero.tosf</string>
    <string>one.tosf</string>
    <string>two.tosf</string>
    <string>three.tosf</string>
    <string>four.tosf</string>
    <string>five.tosf</string>
    <string>six.tosf</string>
    <string>seven.tosf</string>
    <string>eight.tosf</string>
    <string>nine.tosf</string>
  </array>
</dict>
</plist>
