<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>uni0410_</key>
  <dict>
  </dict>
  <key>public.kern1.uni0402_</key>
  <dict>
    <key>public.kern2._uni0410</key>
    <integer>-40</integer>
    <key>public.kern2._uni0414</key>
    <integer>-90</integer>
    <key>public.kern2._uni0416</key>
    <integer>-60</integer>
    <key>public.kern2._uni0417</key>
    <integer>-20</integer>
    <key>public.kern2._uni041B</key>
    <integer>-50</integer>
    <key>public.kern2._uni041D</key>
    <integer>-40</integer>
    <key>public.kern2._uni041E</key>
    <integer>-20</integer>
    <key>public.kern2._uni0422</key>
    <integer>-100</integer>
    <key>public.kern2._uni0423</key>
    <integer>-100</integer>
    <key>public.kern2._uni0425</key>
    <integer>-60</integer>
    <key>public.kern2._uni0427</key>
    <integer>-100</integer>
    <key>public.kern2._uni042A</key>
    <integer>-110</integer>
    <key>public.kern2._uni042F</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.uni0410_</key>
  <dict>
    <key>public.kern2._uni0423</key>
    <integer>-70</integer>
    <key>public.kern2._uni0427</key>
    <integer>-90</integer>
    <key>public.kern2._uni042A</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.uni0412_</key>
  <dict>
    <key>public.kern2._uni041D</key>
    <integer>-20</integer>
    <key>public.kern2._uni0427</key>
    <integer>-60</integer>
    <key>public.kern2._uni042A</key>
    <integer>-50</integer>
    <key>public.kern2._uni042F</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.uni0413_</key>
  <dict>
    <key>public.kern2._uni0414</key>
    <integer>-140</integer>
    <key>public.kern2._uni041B</key>
    <integer>-130</integer>
    <key>public.kern2._uni0434</key>
    <integer>-110</integer>
    <key>public.kern2._uni043B</key>
    <integer>-120</integer>
    <key>public.kern2._uni0443</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.uni0414.loclBGR_</key>
  <dict>
    <key>public.kern2._uni041E</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.uni0414_</key>
  <dict>
    <key>public.kern2._uni0427</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.uni041A_</key>
  <dict>
    <key>public.kern2._uni043E</key>
    <integer>-44</integer>
    <key>public.kern2._uni0443</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.uni041E_</key>
  <dict>
    <key>public.kern2._uni0410</key>
    <integer>-40</integer>
    <key>public.kern2._uni0414</key>
    <integer>-110</integer>
    <key>public.kern2._uni041B</key>
    <integer>-78</integer>
  </dict>
  <key>public.kern1.uni0420_</key>
  <dict>
    <key>public.kern2._uni0410</key>
    <integer>-90</integer>
    <key>public.kern2._uni0414</key>
    <integer>-110</integer>
  </dict>
  <key>public.kern1.uni0423_</key>
  <dict>
    <key>public.kern2._uni0410</key>
    <integer>-170</integer>
    <key>public.kern2._uni0414</key>
    <integer>-120</integer>
    <key>public.kern2._uni0414.loclBGR</key>
    <integer>-180</integer>
  </dict>
  <key>public.kern1.uni0425_</key>
  <dict>
    <key>public.kern2._uni041E</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.uni0433_</key>
  <dict>
    <key>public.kern2._uni0414</key>
    <integer>-120</integer>
    <key>public.kern2._uni041B</key>
    <integer>-110</integer>
    <key>public.kern2._uni0434</key>
    <integer>-40</integer>
    <key>public.kern2._uni043B</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.uni043A_</key>
  <dict>
    <key>public.kern2._uni043E</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.uni043E_</key>
  <dict>
    <key>public.kern2._uni0434</key>
    <integer>-60</integer>
    <key>public.kern2._uni043B</key>
    <integer>-60</integer>
  </dict>
  <key>public.kern1.uni044A_</key>
  <dict>
    <key>public.kern2._uni0442</key>
    <integer>-50</integer>
  </dict>
</dict>
</plist>
